.social-part .fa{
    padding-right:20px;

}
.social-part a{
    color: black;
}

ul li a{
    margin-right: 20px;
}
#main{
    /* background-image: url('../images/musical.jpeg'); */
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
#welcome_text{
    margin-left: 450px;
    margin-top: 300px;
}
.in{
    margin-left: 60px;
}
@keyframes cf3FadeInOut {
    0% {
    opacity:1;
  }
  17% {
  opacity:1;
  }
  25% {
  opacity:0;
  }
  92% {
  opacity:0;
  }
  100% {
    opacity:1;
    }
  }
  

  #cf3 img.s1 {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-direction: alternate;
    } 
 #cf3 img.s2 {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: alternate;
}
#cf3 img.s3 {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
}
#cf3 img.s4 {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 0s;
    animation-direction: alternate;
}