body{
    background-color: aqua;
}
.social-part .fa{
    padding-right:20px;

}
.social-part a{
    color: black;
}

ul li a{
    margin-right: 20px;
}
#main{
    background-image: url('../images/header.jpg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#welcome_text{
    margin-left: 450px;
    margin-top: 100px;
}
.in{
    margin-left: 60px;
}
@keyframes cf3FadeInOut {
    0% {
    opacity:1;
  }
  17% {
  opacity:1;
  }
  25% {
  opacity:0;
  }
  92% {
  opacity:0;
  }
  100% {
    opacity:1;
    }
  }
  

  #cf3 img.s1 {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-direction: alternate;
    } 
 #cf3 img.s2 {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: alternate;
}
#cf3 img.s3 {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
}
#cf3 img.s4 {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 0s;
    animation-direction: alternate;
}

.logos{
    background-color: black;
}
#flows{
    height:650;
    background-image: url('../images/migos.jpg');
    background-position: center;
    /* background-attachment: fixed; */
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
}

#flowtext{
    margin-top: 50px;
    margin-left: 400px;
    color: white;
}
#flowtexthead{
    margin-top: 100px;
    margin-left: 400px;
    color: white;
}
/* *********************************************** */
p#cf7_controls {
    text-align:center;
  }
  #cf7_controls span {
    padding-right:2em;
    cursor:pointer;
  }
  #cf7 {
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto 10px;
  }
  #cf7 img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  
  #cf7 img.opaque {
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
  }
  /* ******************************************************** */
  /* ***********************footer************************** */


.dummy_page {
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
    padding: 60px 0px;
  }
  /* STYLES SPECIFIC TO FOOTER  */
  .footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #070617;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255, 255, 255, 0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }
  